body {
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border: 10px solid red;
    width: 20%;
    text-align: center;

}

.instruction {
    font-size: 60%;
    text-align: left;


}

/* Circle CSS code from the following website:
https://www.w3schools.com/howto/howto_css_circles.asp
*/

.circle {
   background: red;
   color: white;
   padding: 5px, 20px;
   border-radius: 50%;
   font-size: 50px;
}

.circle:hover {
    background-color:grey
}